body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.header {
  display: flex;
  flex: 6;
  background-color: #1F2937;
}

.information-section {
  display: flex;
  flex: 6;
  background-color: #3882F6;
}

.quote-section {
  display: flex;
  flex: 5;
  background-color: #E5E7EB
}

.cta-section {
  display: flex;
  flex: 2;
}

.footer {
  display: flex;
  flex: 1;
  background-color: #1F2937;
}